<h1>Author</h1>

<p>
  <strong>Title:</strong>
  <%= @author.title %>
</p>

<p>
  <strong>First name:</strong>
  <%= @author.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @author.last_name %>
</p>

<%= render 'action_buttons_edit_back', item: 'author', edit_path: edit_author_path(@author), items: 'authors', back_to_path: authors_path %>
