<h1>About</h1>

<p><strong>Ashley Engelund</strong>
<br>
  <em>Software Engineer</em>
</p>

<p><%= mail_to 'ashley.engelund@gmail.com' %></p>


<p>On gitHub:  <%= link_to 'weedySeaDragon', 'https://github.com/weedySeaDragon' %></p>

