<h1>About</h1>

<p class="lead">I created this to help people understand the examples in the Rails Guide.</p>

<p>I wanted people to have a chance to work with the "Bookstore models" (Author, Books, Customer, Order, Review, Supplier)
used in the Rails Guide "ActiveRecord Querying Interface".  Providing a simple Rails application with the models already defined means that people can simply clone this repo and quickly start to explore the models and example queries.
  I wanted to save people -- especially novices who are coming up many learning curves at once -- the time and effort needed to figure out exactly how to define and scaffold the models used in the examples.</p>

<p>This provides a way to create data to work with (via seeding the database).</p>

<p>This is _not_ a complete or efficient Rails application.  This is a very bare-bones Rails application.</p>

<p>The focus is on presenting models just so the examples can be run, and a way to generate enough data to work with them.</p>

<p>The focus is _not_ on presenting this as a well-designed Rails website. Only very minimal layout (view) work was done.
  (In a more realistic Rails application, lots of DRYing up would be done; more gems would be used; some models would be designed differently; I18n would be used, etc.)</p>
<p>This is meant just as a starting point.</p>

<p>You can use the rails console (rails c) to run the queries given in the examples in the guide.</p>
<p>You can also run the rails server and the see the data in web pages.</p>


<p>Is this helpful?  How could it be made _more_ helpful?</p>
<p>Comments and suggestions to the Github repo issues queue: </p>

<p>Many thanks to Chris Oliver's Jumpstart template (GoRails/...)</p>


