<h1>ERD Diagram of the Bookstore Models</h1>
<p class="lead">
</p>


<div id="models_erd">
  <%= image_tag('RailsGuide_AR_Querying_bookstore_models.png',
                width: 650,
                alt:   'ERD diagram all of the model classes and their relationships to each other.') %>
</div>
