<h1>Terms of Service: MIT License</h1>
<p class="lead">
  The authors and contributors have agreed to license all other software under the MIT license, an open source free software license. See the file named [LICENSE](LICENSE) which includes a disclaimer of warranty.</p>



