<h1>Editing Customer</h1>

<%= render 'form', customer: @customer %>

<%= render 'action_buttons_show_back', item: 'customer', show_path: @customer, items: 'customers', back_to_path: customers_path %>
