<%# This partial assumes there is a local called order  %>

<table class="table table-sm table-striped">
  <thead class="thead-dark">
    <tr>
      <th class="title">Title</th>
      <th class="price">Price</th>
    </tr>
  </thead>

  <% order.books.each do |book| %>
    <tr class="book">
      <td class="title"><%= link_to book.title, book %></td>
      <td class="price"><%= number_to_currency(book.price) %></td>
    </tr>
  <% end %>
</table>
