<h1>Editing Supplier</h1>

<%= render 'form', supplier: @supplier %>

<%= render 'shared/action_buttons_show_back', item: 'supplier', show_path: @supplier, items: 'suppliers', back_to_path: suppliers_path %>
