<h1>Supplier</h1>


<p>
  <strong>Name:</strong>
  <%= @supplier.name %>
</p>


<%= render 'shared/action_buttons_edit_back', item: 'supplier', edit_path: edit_supplier_path(@supplier), items: 'suppliers', back_to_path: suppliers_path %>
